server {
  listen 80;

  server_name www.{{ project_name }}.loc;
  root /var/www/{{ project_name }}/web;
  index app_dev.php;

  error_log /var/log/nginx/{{ project_name }}.error.log;
  access_log /var/log/nginx/{{ project_name }}.access.log;

  location / {
    try_files $uri $uri/ /app_dev.php$is_args$args;
  }

  # pass the PHP scripts to FastCGI server listening on /var/run/php5-fpm.sock
  location ~ \.php$ {
    try_files $uri /app_dev.php =404;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index app_dev.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}